header{
    position: fixed;
    width: 100%;
    z-index: 2021;
    height: 10rem;
    background-color: #6D00FF;
    @include responsive(800px){
        height: 7rem;
    }
    .container{
        @include flex(row, center, space-between);
        .logo{
            width: 100%;
            max-width: 10rem;
            height: auto;
            @include responsive(800px){
                max-width: 7rem;
            }
            img{
                max-width: 100%;
            }
        }
        nav{
            display: flex;
            align-items: center;
            ul{
                @include flex(row, center, space-between);
                li{
                    margin-right: 8rem;
                    @include responsive(991px){
                        margin-right: 4.5rem;
                    }
                    a{
                        font-family: 'Poppins', sans-serif;
                        font-size: 1.6rem;
                        line-height: 125%;
                        transition: all .4s;
                        color: #f2f2f2;
                        &:hover{
                            color: #000;
                        }
                    }
                }
            }
        }
        .btn-mobile{
            display: none;
        }
        @include responsive(800px){
            nav{
                display: none;
            }
            .btn-mobile{
                display: block;
            }
        }
    }
    transition: all .3s;
}
.fixed-menu{
    background-color: #f2f2f2;
    box-shadow: -10px 0px 10px #333;
    ul{
        li{
            a{
                color: black !important;
                &:hover{
                    color: blue !important;
                }
            }
        }
    }
}