.s-home{
    display: flex;
    align-items: center;
    background: url(../img/background-home.svg) no-repeat center center;
    background-size: cover;
    .container{
        .main-home{
            margin-top: 10rem;
            position: relative;
            @include flex(row, flex-start, center);
            .text-home{
                margin-top: 5rem;
                width: 45%;
                h1{
                    font-size: 8rem;
                    font-family: 'Poppins', sans-serif;
                    font-style: italic;
                    span{
                        display: flex;
                        justify-content: flex-end;
                    }
                }
                p{
                    margin-top: 4rem;
                    font-size: 1.6rem;
                    line-height: 150%;
                }
                &:after{
                    position: absolute;
                    content: "";
                    left: -1rem;
                    top: 0;
                    width: 1%;
                    height: 100%;
                    background-color:  rgb(88, 8, 163);
                }
            }
            .img-home{
                width: 50%;
                display: flex;
                align-items: flex-end;
                flex-direction: column;
                img{
                    border-radius: 40%;
                    max-width: 30rem;
                    height: auto;
                }
                .socias-home{
                    position: relative;
                    ul{
                        margin-top: 2rem;
                        display: flex;
                        align-items: center;
                        li{
                            &:not(:last-child){
                                margin-right: 4rem;
                            }
                            img{
                                width: 5rem;
                            }
                        }
                    }
                    &::after{
                        content: "";
                        width: 100%;
                        height: 5px;
                        background: $border-color;
                        border-radius: 12px 12px 0px 0px;
                        position: absolute;
                        bottom: -10px;
                    }
                }
            }
        }
    }
}
.s-servicos{
    overflow: hidden;
    .container{
        .main-area-servicos{
            // background: url("../img/dalmatian-spots.svg") no-repeat center center;
            background-size: cover;
            .right-area-servicos{
                .text{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    h2, span{
                        color: rgb(0, 0, 0);
                    }
                    h2{
                        font-size: 5rem;
                        font-weight: 800;
                    }
                    span{
                        font-size: 2rem;
                        line-height: 150%;
                    }
                }
            }
            .aviso-cards{
                span{
                    font-size: 1.4rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 2rem 4rem;
                }
            }
            .swiper-pagination{
                position: relative;
                max-width: 15%;
                .swiper-pagination-bullet{
                    background-color: $border-color;
                    opacity: 0.3;
                    border-radius: 1.2rem;
                    height: 1rem;
                    width: 1rem;
                    transition: all .3s;
                    &-active{
                        opacity: 1;
                        width: 1.7rem;
                    }
                }
            }
        }
        .tec-info{
            padding: 3.5rem;
            width: 100%;
            .text{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                h3{
                    font-size: 3rem;
                    font-weight: 800;
                }
                p{
                    position: relative;
                    width: 100%;
                    max-width: 75%;
                    text-align: center;
                    font-size: 1.6rem;
                    line-height: 150%;
                    padding-bottom: 1rem;
                    &::after{
                        position: absolute;
                        content: "";
                        bottom: 0;
                        width: 100%;
                        left:  0;
                        height: 1rem;
                        border-radius: 12px 12px 0px 0px;
                        background-color:  rgba(88, 8, 163, 0.555);
                    }
                }
            }
        }
    }
}

@keyframes floating{
    0%{
        transform: translateY(0);
    }
    66%{
        transform: translateY(-15px);
    }
    100%{
        transform: translateY(0);
    }
}
@keyframes floatingrigth{
    0%{
        transform: translateX(0);
    }
    66%{
        transform: translateX(-15px);
    }
    100%{
        transform: translateX(0);
    }
}

