@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-50 text-gray-900;
  -webkit-font-smoothing: antialiased;
}
img {
  max-width: 100%;
}

.trusted-by-swiper > div{
   -webkit-transition-timing-function:linear!important;
   -o-transition-timing-function:linear!important;
   transition-timing-function:linear!important;
  }